.carousel{
    text-align: start;
    margin: 2em 0;
    max-width: 550px;
    margin: 2em auto;
}
.carousel-content[open] .carousel-header::marker{
    color: var(--soft-red);
}

.carousel-header{
    padding: 1.5em 0;
    border-bottom: 1px solid var(--light-grey);
    font-size: .9em;
}

.carousel-header:focus{
    outline: 0;
}

.carousel-header::marker{
    color: var(--soft-blue);
}


@media screen and (min-width: 1024px) {
    .carousel{
        border-top: 1px solid var(--light-grey);;
    }
}


