.download{
    text-align: center;
    padding: 3em 0;
}

.wrapper > .p{
    margin-bottom: 3em;
    max-width: 500px;
    margin: auto;
}

.download-grid{
    margin-top: 3em;
    display: grid;
    row-gap: 2em;
    margin: 0 1em;
}

.download-item{
    box-shadow: 0 10px 11px -5px rgba(83, 104, 223, .3);
    border-radius: 1em;
    padding: 1.5em;
    padding-top: 2.5em;
    background: url('../images/bg-dots.svg') repeat-x center bottom 100px;
}

.download-item .p{
   margin-bottom: 4em;
   margin-top: .5rem;
}

.h3{
    margin-bottom: .5rem;
    margin-top: 1.5rem;
}

@media screen and (min-width: 1024px) {
    .download-grid{
        grid-template-columns: 1fr 1fr 1fr;
        grid-column-gap: 2em;
        padding-bottom: 7em;
    }

    .download-item:nth-of-type(2){
        position: relative;
        top: 4em;
    }

    .download-item:nth-of-type(3){
        position: relative;
        top: 7em;
    }
}